@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    padding: 0%;
    margin: 0%;
}

main {
    display: grid;
    grid-template: 350px 1fr 100px / 20vw 1fr;
    grid-template-areas: "header header" " info main" "footer footer";
    height: 100vh;
    overflow: auto;
}

main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-track {
    background-color: transparent;
}

main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

header {
    align-items: center;
    background-color: #34495e;
    background-image: url('../img/header/background-header.png');
    background-attachment: local;
    background-position: center;
    background-size: cover;
    color: #FFF;
    display: flex;
    justify-content: center;
    grid-area: header;
    padding: 10vh 0;
}

header figure {
    margin-right: 5vw;
}

header figure img {
    border: 5px solid rgba(230, 230, 230, 0.3);
    border-radius: 50%;
    max-width: 150px;
}

header .hgroup {
    display: flex;
    flex-direction: column;
}

header .hgroup>h1,
h2 {
    text-transform: uppercase;
}

header .hgroup h1 {
    font-family: 'Orbitron', sans-serif;
    margin: 10px 0px;
    font-size: 3em;
}

header .hgroup h1 span {
    color: rgb(230, 235, 200);
}

main section {
    background-color: #ecf0f1;
    grid-area: info;
}

main section h2 {
    text-align: center;
    margin: 10px 0px;
    font-size: 1.2em;
}

main section p {
    text-align: justify;
    margin: 15px;
    line-height: 18px;
    color: rgb(65, 65, 65);
    font-size: 0.8em;
}

main section .social {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

main section .social a {
    text-decoration: none;
}

main section .social a span.icon {
    background-position: center;
    background-attachment: local;
    background-size: 100%;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    opacity: 0.8;
    transition: all 0.2s ease;
    padding: 15px;
}

main section .social a span.icon:hover {
    filter: none;
    opacity: 1;
}

main section .social a span.icon.twitter {
    background-image: url('../img/icon-social/twitter.svg')
}

main section .social a span.icon.git {
    background-image: url('../img/icon-social/git.svg')
}

main section .social a span.icon.instagram {
    background-image: url('../img/icon-social/instagram.svg')
}

main section .social a span.icon.jsfiddle {
    background-image: url('../img/icon-social/jsfiddle.svg')
}

main section .social a span.icon.linkedin {
    background-image: url('../img/icon-social/linkedin.svg')
}

main section .social a span.icon.stackoverflow {
    background-image: url('../img/icon-social/stackoverflow.svg')
}

main .container {
    background-image: url('../img/background/atom.svg');
    background-repeat: repeat;
    background-size: 5px;
    background-clip: border-box;
    padding: 5vh 0px;
    grid-area: main;
}

main .container h2 {
    font-family: 'Orbitron', sans-serif;
    color: #34495e;
}

main .container .about {
    /* background-color: rgb(197, 197, 116); */
}


main .container .about h2 {
    text-align: center;
}

main .container .about .content {
    align-items: center;
    display: flex;
    justify-content: space-between;

}

main .container .about .content {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

}

main .container .about .content .col {
    display: flex;
    flex-direction: column;
}

main .container .about .content .col img {
    border-radius: 5px;
    max-width: 25vw;
    overflow: hidden;

}

main .container .about .content .col .row {
    margin: 10px 0px;
}

main .container .about .content .col .row h3 {
    color: #e67e22;
    font-weight: lighter;
    font-size: 1.2em;
    text-transform: uppercase;
}

main .container .about .content .col .row ul {
    padding: 0;
    color: #4d4d4d;
}

main .container .about .content .col .row ul li {
    list-style: none;
    margin: 10px 0px;
}

main .container .about .content .col .row ul li span.secundary {
    display: block;
    color: #858585;
}

main .container .about .content .col .row ul li a {
    color: #3498db !important;
    text-decoration: none;
}

main .container .about .content .col .row ul li a:hover {
    text-decoration: underline;
}

main footer {
    background-color: #1e272e;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
}